// MIXINS

@mixin mobile {
  @media only screen and (max-width: 900px) {
    @content;
  }
}

@mixin title-style {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.04px;
  letter-spacing: -0.02em;
  color: #000000;
}

@mixin primary-text-style {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: -0.02em;
}

@mixin secondary-text-style {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
